figure.imagens_lazer { width: 33.33333333333333%; min-width: 231px; float: left;  margin-bottom: -6px !important;}
section#diferenciais span { margin-top: 20px; display: block;}
span.tt { margin-bottom: -30px; display: block; margin-left: 5px;}
label.titulo_radio {float: left;margin-top: 8px; margin-right: 10px; text-transform: uppercase; color:#7C1B1F;}
figure#atendimentonline {width: 360px}
figure#atendimentonline span.texto_online { margin: 35px 0 0 20px; font-size: 1.6em; color: #0e283e; font-weight: 600; float: left;}
