@font-face {
    font-family: 'champagne__limousinesregular';
    src: url('../fonts/champagne__limousines-webfont.eot');
    src: url('../fonts/champagne__limousines-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/champagne__limousines-webfont.woff') format('woff'),
         url('../fonts/champagne__limousines-webfont.ttf') format('truetype'),
         url('../fonts/champagne__limousines-webfont.svg#champagne__limousinesregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
body { font-family: 'champagne__limousinesregular'; font-size: 10px;}
header { width: 100%; min-width: 1345px; background: #000; float: left;}
header section { width: 1345px; float: left; position: relative; left: 50%; margin-left: -672.5px;}
header section h1 a { width: 140px; height: 135px; position: absolute; left: 10px; top: 0; z-index: 9999; text-indent: -9999px; background: url(../img/logo_solaris.png) no-repeat;}
header section nav { width: 500px; height: 62px; float: right; margin-top: -13px;}
header section nav ul { list-style: none; font-size: 1.6em; letter-spacing: 1px;}
header section nav ul li { display: inline;}
header section nav ul li a { text-decoration: none; text-transform: uppercase; color: #FFF; margin: 6px 33px 0 0; float: left;}
header section nav ul li a:hover { color: #f7941d;}

/*BASES*/
section#localizacao, section#resort { width: 100%; min-width: 1345px; float: left;} 

section#localizacao aside, section#resort aside { width: 1345px; float: left; position: relative; left: 50%; margin-left: -672.5px; text-transform: uppercase;}

section#localizacao aside h2,section#resort aside h2 { width: 1322px; font-size: 7.0em; letter-spacing: 2px; margin: 70px 0 0 25px; float: left; font-weight: 100; color: #f7941d;}

section#localizacao aside p.tt_medio, section#localizacao aside p.tt_pequeno, section#resort aside p.tt_medio { color: #000000; letter-spacing: 1px; float: left;}

section#localizacao aside p.tt_medio, section#resort aside p.tt_medio { font-size: 4.5em; margin: 30px 0 0 25px;}

section#localizacao article, section#resort article  { width: 100%; min-width: 1345px; float: left;}



/*LOCALIZAÇÃO*/
section#localizacao aside p.tt_pequeno { font-size: 3.0em; margin: 35px 0 0 25px; line-height: 35px;}
section#localizacao article div { width: 100%; margin-top: 20px; height: 750px; float: left;}

/*RESORT*/
section#resort aside p.tt_small { font-size: 1.4em; margin: 20px 0 0 25px; line-height: 22px; float: left; letter-spacing: 1px;}
section#resort aside figure { float: left; margin-top: 40px;}
section#resort aside figure img { margin-left: 25px; float: left;}
section#resort aside figcaption { margin: 12px 0 0 15px; letter-spacing: 1px; font-size: 2.0em; color: #f26522; float: left;}

section#resort article  { width: 100%; float: left; position: relative;}
section#resort div#planta_resort { width: 100%; min-width: 1345px; max-width: 1903px; max-height: 1360px; margin-top: 55px;}
section#resort div#planta_resort img { max-width: 100%;}
div#planta_resort span#icones_resort { width: 100%; position: absolute; z-index: 100; top: 0; left: 0;}

span#icones_resort figure#ico01 { position: absolute; margin: 37% 0 0 14%;}
span#icones_resort figure#ico02 { position: absolute; margin: 36% 0 0 31%;}
span#icones_resort figure#ico03 { position: absolute; margin: 31% 0 0 35%;}
span#icones_resort figure#ico04 { position: absolute; margin: 27% 0 0 39%;}
span#icones_resort figure#ico05 { position: absolute; margin: 11% 0 0 56%;}
span#icones_resort figure#ico06 { position: absolute; margin: 31% 0 0 48%;}
span#icones_resort figure#ico07 { position: absolute; margin: 35% 0 0 43%;}
span#icones_resort figure#ico08 { position: absolute; margin: 30% 0 0 58%;}
span#icones_resort figure#ico09 { position: absolute; margin: 38% 0 0 59%;}
span#icones_resort figure#ico10 { position: absolute; margin: 45% 0 0 66%;}
span#icones_resort figure#ico11 { position: absolute; margin: 22% 0 0 79%;}
span#icones_resort figure#ico12 { position: absolute; margin: 33% 0 0 92%;}
span#icones_resort figure#ico13 { position: absolute; margin: 55% 0 0 75%;}
span#icones_resort figure#ico14 { position: absolute; margin: 64% 0 0 59%;}


