@font-face { font-family:"HelveticaNeueLT Std"; src:url(../fonts/HelveticaNeueLTStd-Lt.otf); src:url(../fonts/helveticaneueltstd-lt-webfont.eot); src:url(../fonts/helveticaneueltstd-lt-webfont.ttf);} 
h1, h2, h3, h4, h5, h6 { font-weight: 200;}
body { font-family:"HelveticaNeueLT Std", "Noto Sans", sans-serif; font-size: 10px;}

/*INDEX*/
section#geral_index { width: 100%; height: 1000px; min-width: 1345px; background: url(../img/fundo.png) center top repeat; padding: 0; margin: 0; float: left;}
section#conteudo_index { width: 1345px; margin: 0 auto;}
section#conteudo_index h1 a { width:305px; height: 296px; background: url(../img/logo.png) no-repeat; text-indent: -9999px; margin: 0 auto; display: block;} 
section#conteudo_index h2 { color:#FFF; font-size: 4.4em; letter-spacing:4px; line-height:60px;  text-align: center;}
section#conteudo_index article { width: 480px; float: left; position: relative; left: 50%; margin-left: -240px;}
article figure { float: left; margin: 90px 0 75px 0;}
article figure.index_projeto a { width: 85px; height: 85px; background: url(../img/projeto.png) no-repeat; background-position:0 0px; text-indent: -9999px; margin-right: 45px; display: block;}
article figure.index_projeto a:hover { background-position:0 -97px; transition-duration: 20s; -webkit-transition-duration: .20s; -moz-transition-duration: .20s; -o-transition-duration: .20s;}
article figure.index_localizacao a { width: 85px; height: 85px; background: url(../img/icon_localizacao.png) no-repeat; background-position:0 0px; text-indent: -9999px; margin-right: 45px; display: block;}
article figure.index_localizacao a:hover { background-position:0 -97px; transition-duration: 20s; -webkit-transition-duration: .20s; -moz-transition-duration: .20s; -o-transition-duration: .20s;}
article figure.index_lazer a { width: 85px; height: 85px; background: url(../img/icone_lazer.png) no-repeat; background-position:0 0px; text-indent: -9999px; margin-right: 45px; display: block;}
article figure.index_lazer a:hover { background-position:0 -97px; transition-duration: 20s; -webkit-transition-duration: .20s; -moz-transition-duration: .20s; -o-transition-duration: .20s;}
article figure.index_apartamento a { width: 85px; height: 85px; background: url(../img/icon_apartamento.png) no-repeat; background-position:0 0px; text-indent: -9999px; display: block;}
article figure.index_apartamento a:hover { background-position:0 -97px; transition-duration: 20s; -webkit-transition-duration: .20s; -moz-transition-duration: .20s; -o-transition-duration: .20s;}

/*HEADER*/
header { width: 100%; min-width: 1345px; background: url(../img/fundo_header.png) repeat; float: left;}
header section { width: 100%; min-width: 1345px; height: 54px; margin-top: 70px; background: url(../img/fundo_section_header.png) repeat;}
section figure.logo { position: absolute; top: 0; margin-left: 80px; float: left;}
section figure.logo img { max-width: 60%;}
.box_menu { width: 1024px; height: 50px; float: left; position: relative; left: 50%; margin: 10px 0 0 -512px;}
.box_menu figure { float: right;}
.box_menu figure a { padding: 0 5px;}
.box_menu figure.menu_home a { width: 50px; height: 50px; background: url(../img/home.png) no-repeat; background-position:0 0px; text-indent: -9999px; display: block;}
.box_menu figure.menu_home a:hover { background-position:0 -59px; transition-duration: 20s; -webkit-transition-duration: .20s; -moz-transition-duration: .20s; -o-transition-duration: .20s;}
.box_menu figure.menu_contato a { width: 50px; height: 50px; background: url(../img/contato.png) no-repeat; background-position:0 0px; text-indent: -9999px; display: block;}
.box_menu figure.menu_contato a:hover { background-position:0 -60px; transition-duration: 20s; -webkit-transition-duration: .20s; -moz-transition-duration: .20s; -o-transition-duration: .20s;}
header span { width: 1024px; float: left; position: relative; left: 50%; margin-top: 10px; margin-bottom: 10px; margin-left: -512px;}
header h3 { color: #FFF; font-size: 3.0em; text-align: center; margin-left: 400px; letter-spacing: 1px;}

/*MENU*/
header nav { width: 1024px; margin: 0 auto;}
section figure.sombra_header { margin-top: 20px; float: right;}
nav ul { font-size: 1.2em; letter-spacing: 1px; text-transform: uppercase; float: right; margin: 19px 50px 0 0;}
nav ul li { display: inline; float: right; margin: 0 2px;}
nav ul li a { padding: 10px 8px; color: #000; text-decoration: none; border-radius: 5px; -moz-border-radius: 5px; 
-webkit-border-radius: 5px; -0-border-radius: 5px;} 
nav ul li a:hover { color: #FFF; background: #000; filter:alpha(opacity=20); opacity:.2;}
.active-home { background-position:0 -59px !important;}
.active-contato { background-position:0 -60px !important;}
.active-localizacao { color: #FFF; background: #000; filter:alpha(opacity=20); opacity:.2;}
.active-projeto { color: #FFF; background: #000; filter:alpha(opacity=20); opacity:.2;}
.active-lazer { color: #FFF; background: #000; filter:alpha(opacity=20); opacity:.2;}
.active-diferenciais { color: #FFF; background: #000; filter:alpha(opacity=20); opacity:.2;}
.active-realizacoes { color: #FFF; background: #000; filter:alpha(opacity=20); opacity:.2;}
.active-seuapartamento { color: #FFF; background: #000; filter:alpha(opacity=20); opacity:.2;}

/*ESTRUTURAS BASES*/
section#home, section#localizacao, section#projeto, section#contato, section#lazer, section#apartamento, section#diferenciais, section#realizacao, section#contatoErro, section#contatoOk { width: 100%; min-width: 1345px; float: left;}

/*IMAGEM EXPANSIVA BASE*/
section#home img, section#localizacao img, section#projeto img, section#contato img, section#apartamento img, section#diferenciais img, section#realizacao img { max-width: 100%; padding: 0; margin: 0;}

/*ASIDE BASE DAS PAGINAS*/
section#home aside, section#localizacao aside, section#projeto aside, section#contato aside, section#lazer aside, section#apartamento aside, section#realizacao aside, section#contatoErro aside, section#contatoOk aside { width: 850px; float: left; position: relative; left: 50%; margin-left: -425px}

/*H4 DO ASIDE*/
section#home aside h4, section#localizacao aside h4, section#projeto aside h4, section#contato aside h4, section#lazer aside h4 { font-size: 1.8em; letter-spacing: 1px; color:#993333;}

/*FAIXA AMARELA / LOCALIZAÇÃO / ENREDEÇO*/
article.faixa_amarela { width: 100%; min-width: 1345px; height: 54px; background: url(../img/fundo_section_header.png) repeat; margin-top: -3px; float: left;}
figure#endereco_localizacao { width: 810px; position: relative; left: 50%; margin: 0 0 0 -405px; display: block;}
figure#endereco_localizacao figcaption, figure#endereco_localizacao img { float: left;}
figure#endereco_localizacao figcaption { text-transform: uppercase; font-size: 1.2em; letter-spacing: 1px; margin-top: 20px;}
article.faixa_amarela figure#endereco_localizacao img { padding: 0 20px; margin-top: 10px;}
figure#endereco_localizacao span a { text-decoration: none; color: #000; font-weight: 600;}
figure#endereco_localizacao span a:hover { text-decoration: underline; color: #993333;}

/*POPUP*/
#popup { float: left;}

/*HOME*/
section#home { margin-bottom: 50px;}
section#home aside p { width: 425px; float: left; font-size: 1.4em; line-height: 28px; letter-spacing: 1px; margin-top: -5px;}
section#home aside figure { float: right; margin-bottom: 15px; margin-right: 50px;}
section#home aside figcaption a { position: absolute; text-decoration: none; bottom: 35px; left: 310px; font-size: 1.3em; letter-spacing: 1px; color:#993333; text-transform: uppercase;}
section#home aside figcaption a:hover { text-decoration: underline;}

/*LOCALIZAÇÃO*/
section#localizacao { margin-bottom: 78px;}
section#localizacao aside span { width: 410px; display: block; border: none; border-radius: 5px; font-size: 1.4em; text-transform: uppercase; margin: 15px 0 15px 15px; background:url(../img/icon_lupa.png) no-repeat #eeeeee; padding: 15px; text-indent:35px; letter-spacing: 1px;}
section#localizacao aside span a { text-decoration: none; color:#993333;}
section#localizacao aside p { width: 500px; font-size: 1.4em; float: left; line-height: 28px; letter-spacing: 1px;} 
section#localizacao aside figure { margin-top: -50px;}

/*PROJETO*/
#aq_samanta, #aq_samanta p, #aq_samanta figure, #aq_eduardo figure { float: left;}
#aq_eduardo, #aq_eduardo p { float: right;}
#aq_samanta, #aq_eduardo { width: 425px; color: #666666; margin: 20px 0 70px 0;}
#aq_samanta figcaption, #aq_eduardo figcaption { float: right; font-size: 1.4em; letter-spacing: 2px; margin: 55px 0 0 20px;}
#aq_samanta span, #aq_eduardo span { font-weight: bold; color: #000000;}
#aq_samanta p, #aq_eduardo p  { width: 400px; font-size: 1.4em; line-height: 28px; letter-spacing: 1px; text-align: justify;}

/*LAZER*/
section#lazer aside figure { float: left; margin: 60px 0 200px 0;}
#lista_lazer { width: 292px; float: right; margin-top: 60px; font-size: 1.4em; color: #666666;}
#lista_lazer span { color: #993333;}
#lista_lazer ul li { list-style: none; margin: 5px 0;}
#lista_lazer figure img { float: left; margin: -40px 0 0 20px;}

/*SEU APARTAMENTO*/
section#apartamento { margin-bottom: 250px;}
#info_planta01, #info_planta02 { width: 750px; float: left; position: relative; left: 50%; margin: 0 0 50px -375px;}
#info_planta01 p, #info_planta02 p { font-size: 1.8em; color: #993333; letter-spacing: 1px;}
#info_planta01 span, #info_planta02 span { font-size: 1.8em; color: #000000;}
#info_planta01 span.detalhe_span, #info_planta02 span.detalhe_span { font-size: 1.5em; color: #000000;}
#info_planta01 figure img { float: left; margin-top: 40px;}
#info_planta01 p { float: right; margin: 105px 70px 0 0;}
#info_planta02 { margin-top: 100px;}
#info_planta02 figure img { float: right; margin-top: 40px;}
#info_planta02 p { float: left; margin: 105px 0 0 70px;}

/*DIFERENCIAIS*/
article#conteudo_diferenciais { width: 1320px; position: relative; left: 50%; margin: 60px 0 100px -660px; float: left; letter-spacing: 1px;}
#box_diferenciais { width: 440px; float: left;}
#box { width: 440px; float: left;}
#box p { width: 365px; float: right; font-size: 1.4em; padding-right: 10px;}
#patriani_diferenciais { width: 1320px; float: left;}
#patriani_diferenciais img { margin: -264px 25px 0 0 !important; float: right; display: block;}
p#titulo_patriani_diferenciais { margin-left: 200px !important; font-size: 3.0em; color: #65be8a; text-align: center; float: left;}
span.titulo_patriani { font-weight: bold; color: #65be8a; font-size: 1.3em;}
span.detalhe_patriani { font-weight: bold; color: #65be8a;}
span.xxx,span.vvv { height: 55px; width: 55px; margin-top: 12px !important; float: left; border: none; background:url(../img/icons_diferenciais.png) no-repeat;}
span.xxx { background-position: -15px -9px;}
span.vvv { background-position: -598px -89px}

/*REALIZAÇÕES*/
div#historia_patriani, div#obras_realizadas, div#contruire { width: 850px; float: left;}
div.box_esquerdo_gr, div.box_direito_gr { width: 400px; text-align: justify;}
div.box_esquerdo_gr { float: left; }
div.box_direito_gr { float: right;}

div#historia_patriani p, div#obras_realizadas p, div.box_esquerdo_pq p, div.box_direito_pq p, div#contruire p { font-size: 1.4em; letter-spacing: 1px; float: left;}
div.box_esquerdo_pq, div.box_direito_pq { width: 265px; text-align: justify;}
div.box_esquerdo_pq { float: left; margin: -25px 10px 0 0;}
div.box_direito_pq { float: right; margin-top: -25px;}
figure#fachada_realizacao { float: left;}
figure#logo_realizacao { text-align: center; margin: 50px 0 30px 0;}

p.tt_vm_realizacao { font-size: 1.8em; color: #993333; float: left; margin: 40px 0 40px 0;}
div#obras_realizadas div { float: left; margin-bottom: 20px;}
div#obras_realizadas div figure { float: left; margin-right: 18px; }
div#obras_realizadas div span { width: 690px; float: left; text-align: justify;}
div#obras_realizadas div span.tt_obras { font-weight: bold; color: #000; letter-spacing: 1px;}

div#contruire figure { text-align: center;}
div#contruire p { text-align: justify; line-height: 23px;}
div#contruire span { width: 850px; float: left;}
div#contruire span figure { float: left; margin-left: 56px;}
div#contruire span figcaption { letter-spacing: 1px; font-size: 1.4em;}
div#contruire p.legenda_realizacao { width: 850px; margin: 50px 0; text-align: center; line-height: 13px; font-size: 1.2em;}

/*CONTATO*/
form { width: 730px; position: relative; left: 50%; margin-left: -365px; margin-top: 60px;}
#campo_1 { width: 728px; position: relative; padding: 20px 0 30px 0; float: left; border: solid 1px #666666; border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px;}
span#esquerda_form { width: 250px; float: left; margin-left: 110px;}
span#direita_form { width: 250px; float: right; margin-right: 30px;}
span.erro_form { font-size: 1.1em; color: #ed1d1d; display: block; letter-spacing: 1px;}
#campo_1 figure { position: absolute; left: -50px; top: 80px;}
#campo_1 label, #campo_2, #campo_3 { font-size: 1.3em; color: #666666; margin-top: 10px; float: left; letter-spacing: 1px;}
#campo_1 select.EstadoCivil { width: 250px;}
#campo_1 input, select { width: 228px; font-size: 1.3em; color: #666666; margin: 5px 0; padding: 10px; border: solid 1px #666666; font-family:"HelveticaNeueLT Std", "Noto Sans", sans-serif; 
border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px;}
#campo_2 { width: 728px; position: relative; margin-top: 50px; padding: 20px 0 30px 0; float: left; border: solid 1px #666666; border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px;}
span.erro_form_2 p { font-size: 0.9em; color: #ed1d1d; letter-spacing: 1px; margin-left: 107px;}
#campo_2 figure { position: absolute; left: -50px; top: 120px;}
#campo_2 label {padding-left: 5px;}
label.titulo_campo_2 { font-weight: bold; color: #000; margin-left: 110px; margin-top: 20px; display: block;padding-left: inherit !important;}
#campo_2 input { margin-left: 110px;}
span.box_checkbox { width: 222.6px; float: left; margin-top: 20px; letter-spacing: 2px; }
#campo_3 { width: 728px; position: relative; margin: 50px 0 120px 0; padding: 30px 0 30px 0; float: left; border: solid 1px #666666; border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px;}
#campo_3 figure { position: absolute; left: -50px; top: 87px;}
#campo_3 label { margin-left: 103px;}
#campo_3 textarea { width: 590px; height: 120px; margin-left: 103px; margin-top: 10px; color: #666666; font-family:"HelveticaNeueLT Std", "Noto Sans", sans-serif; border: solid 1px #666666; border-radius:4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px;}
#campo_3 button { width: 280px; background: #FFF; letter-spacing: 2px; margin: 20px 0 0 260px; cursor: pointer; color: #65be8a; padding: 14px 0; border: solid 1px #65be8a; border-radius:4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px;}
#campo_3 button:hover { background: #65be8a; color: #FFF;}

/*AVISOS*/
section#contatoErro aside, section#contatoOk aside { height: 250px; margin-top: 130px; margin-bottom: 130px;}
section#contatoErro figure, section#contatoOk figure { float: left;}
section#contatoOk h5, section#contatoErro h5 { font-size: 3.0em; margin: 60px 0 0 15px; text-transform: uppercase; font-weight: bold; float: left; letter-spacing: 1px;} 
section#contatoErro p.aviso_erro, section#contatoOk p.aviso_ok { font-size: 2.0em; float: left; color: #333333; letter-spacing: 1px;}
section#contatoOk p.txt_aviso_ok, section#contatoErro p.txt_aviso_erro { font-size: 1.4em; margin: 30px 0 0 -100px; float: left; letter-spacing: 1px;}
section#contatoErro figure, section#contatoOk figure { margin: 40px 0 0 200px;}

/*AVISO FALHA*/
section#contatoErro h5 { color: #ff4e00;}
section#contatoErro p.aviso_erro { margin: 100px 0 0 -85px;}
section#contatoErro p.txt_aviso_erro { color: #333333;}
section#contatoErro span a { text-decoration: none; color: #ff4e00; font-weight: bold; letter-spacing: 2px;}

/*AVISO OK*/
section#contatoOk h5 { color: #447800;}
section#contatoOk p.aviso_ok { margin: 100px 0 0 -166px;}
section#contatoOk p.txt_aviso_ok { font-weight: bold; color: #447800;}

/*FOOTER*/
footer { width: 100%; min-width: 1345px; float: left;}
footer.fundo_footer { background: url(../img/fundo_footer.png) repeat;}
footer span { width: 25%; float: left; height: 13px;}
footer span#vermelho { background: #993333;}
footer span#azul { background: #10a9be;}
footer span#amarelo { background: #e2d223;}
footer span#amarelo figure { float: right; margin-top: -30px; margin-right: -5px; z-index: 9999; position: relative;}
footer span#verde { background: #65be8a;}
section#rodape { width: 1024px; margin: 0 auto;}
section#rodape figure { float: left; padding: 0 15px; margin: 60px 0 30px 0;}
section#rodape figcaption { text-align: center; text-transform: uppercase; font-size: 1.2em; color: #000; margin-bottom: 10px; letter-spacing: 1px;}

/* Hack Chorme */
@media screen and (-webkit-min-device-pixel-ratio:0) {
#aq_samanta figcaption, #aq_eduardo figcaption { margin: -140px 0 0 20px;}
span.box_checkbox { width: 223.6px;} 
}

/* Hack ie10 */
.ie10 span.box_checkbox { width: 226px !important;}
.ie10 section#localizacao aside span {text-indent:15px; padding-left: 35px;}

/* Hack Opera */
x:-o-prefocus, span.box_checkbox { 
	width: 226px !important;
} 